{% extends "base.html" %}
{% load static %}
{% block title %}Create an account{% endblock %}

{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required>

          <label for="first_name"><b>First name</b></label>
          <input type="text" placeholder="Enter First name" name="first_name" id="first_name" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
      
          <label for="password2"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="password2" id="password2" required>
          <hr>
      
          <button type="submit" class="registerbtn">Register</button>
        </div>
      
        <div class="container signin">
          <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
        </div>
      </form> 
{% endblock %}